{% extends "libmgmt/layout.html" %}

{% load static %}

{% block title %}
  Library Management Home
{% endblock title %}

{% block header %}
  Welcome
{% endblock header %}

{% block maincontent %}
  <form method="POST" action="{% url 'libmgmt:authuser' %}">
    {% csrf_token %}
    <p>
      <input type="text" placeholder="Enter Username" name="username">
    </p>
    <p>
      <input type="password" placeholder="Enter Password" name="password">
    </p>
    <p>
      <input type="submit" value="Login">
    </p>
    <p>
      <a href="{% url 'libmgmt:signup' %}">New user? Sign in here</a>
    </p>
  </form>
  <script src="{% static 'libmgmt/js/first.js' %}"></script>
{% endblock maincontent %}