{% extends "libmgmt/layout.html" %}

{% block title %}
  Welcome User
{% endblock title %}

{% block header %}
  Welcome
{% endblock header %}

{% block maincontent %}
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Pages</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for book in booklist %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.price }}</td>
          <td>{{ book.pages }}</td>
          <td>
            <a href="{% url 'libmgmt:bookdetails' book.id %}">Details</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock maincontent %}